body {
  font-family: Arial;
  margin: 30px;
}

#food-list {
  display: flex;
  gap: 20px;
}

.food {
  border: 1px solid #ccc;
  padding: 10px;
  width: 120px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
}
